**Nama : Achmad Rifa'i Ramadhan**

**NIM : 0110223138**

In [ ]:
# Import library python
import pandas as pd # Untuk manipulasi dan analisis data
import numpy as np # Untuk komputasi numerik
import matplotlib.pyplot as plt # Untuk visualisasi data
import seaborn as sns # Untuk visualisasi data yang lebih estetis

In [ ]:
# Menghubungkan colab dengan google drive
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
# Membaca atau menghubungkan direktori folder dataset yang ada di google drive
path = "/content/gdrive/MyDrive/Datasets/DS/"

In [ ]:
# Membaca dan menampilkan file
df = pd.read_csv(path + 'data_house.csv')
df

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
# Menampilkan informasi terkait tipe data, jumlah nilai kosong, dan kolom
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     21613 non-null  int64
 1   id             21613 non-null  int64
 2   date           21613 non-null  object
 3   price          21613 non-null  float64
 4   bedrooms       21613 non-null  int64
 5   bathrooms      21613 non-null  float64
 6   sqft_living    21613 non-null  int64
 7   sqft_lot       21613 non-null  int64
 8   floors         21613 non-null  float64
 9   waterfront     21613 non-null  int64
 10  view           21613 non-null  int64
 11  condition      21613 non-null  int64
 12  grade          21613 non-null  int64
 13  sqft_above     21613 non-null  int64
 14  sqft_basement  21613 non-null  int64
 15  yr_built       21613 non-null  int64
 16  yr_renovated   21613 non-null  int64
 17  zipcode        21613 non-null  int64
 18  lat            21613 non-null  float64
 19  long           21613 non-null  float64
 20  sqft_living15  21613 non-null  int64
 21  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(16), object(1)
memory usage: 3.6+ MB

In [ ]:
# Untuk menampilkan statistik deskriptif dari dataset
df.describe()

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00000,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,10806.00000,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,6239.28002,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,0.00000,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,5403.00000,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,10806.00000,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,16209.00000,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,21612.00000,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
# Mencari missing values pada dataset
df.isnull().sum()

Unnamed: 0       0
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
# Mengecek apakah ada data duplikat
df.duplicated().sum()

0

In [ ]:
# Menghapus kolom yang tidakmemiliki nama
df.drop(columns=["Unnamed: 0"], inplace=True)

Ada berapa variabel dalam data tersebut? Ada berapa banyak entri datanya?

In [ ]:
columns = df.shape[1]
rows = df.shape[0]

print("Jumlah Variabel atau Kolom:", columns)
print("Jumlah Entri atau Row:", rows)

Jumlah Variabel atau Kolom: 21
Jumlah Entri atau Row: 21613

Ada berapa banyak data yang berbentuk numerik? Apa saja?

In [ ]:
numeric_columns = df.select_dtypes(include=['number']).columns.tolist()
amount_numeric_columns = len(numeric_columns)
print("Kolom Data Numerik:", numeric_columns)
print("Jumlah Kolom Data Numerik", amount_numeric_columns)

Kolom Data Numerik: ['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']
Jumlah Kolom Data Numerik 20

Berapa rata-rata harga rumah yang ada di data tersebut?

In [ ]:
average_price = df["price"].mean()
average_price

540088.1417665294

Berapa rentang luas rumah yang dijual di data tersebut?

In [ ]:
sqft_range = (df["sqft_living"].min(), df["sqft_living"].max())
sqft_range

(290, 13540)

Ada berapa rumah yang memiliki basement?

In [ ]:
basement = df[df["sqft_basement"] > 0].shape[0]
basement

8487

Rumah mana yang paling tua? Berapa harganya? Apakah mahal atau murah?

In [ ]:
oldest_house = df[df["yr_built"] == df["yr_built"].min()]
oldest_house_price = oldest_house["price"].values[0]
price_category = "mahal" if oldest_house_price > average_price else "murah"

print( oldest_house["yr_built"].values[0])
print(oldest_house_price)
print(price_category)

1900
530000.0
murah

Untuk rumah yang satu lantai, berapa rata-rata harganya?

In [ ]:
one_floor = df[df["floors"] == 1]["price"].mean()
one_floor

442180.6325842697

Adakah data yang tidak tampil (missing value) atau anomali di situ?

In [ ]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Jika dibagi sesuai kondisinya, rumah dengan kondisi bernilai berapa yang paling banyak?

In [ ]:
condition = df["condition"].value_counts().idxmax()
condition

3

Berapa harga rumah tertinggi dan terendah di dataset ini

In [ ]:
top_price = df["price"].max()
low_price = df["price"].min()
print("Harga rumah yang tertinggi:", top_price)
print("Harga rumah yang terendah:", low_price)

Harga rumah yang tertinggi: 7700000.0
Harga rumah yang terendah: 75000.0

Berapa jumlah rumah yang memiliki lebih dari 3 kamar tidur?

In [ ]:
houses_3_bedrooms = df[df["bedrooms"] > 3].shape[0]
print("Jumlah rumah yang memiliki kamar tidur lebih dari 3:", houses_3_bedrooms)

Jumlah rumah yang memiliki kamar tidur lebih dari 3: 8817

Berapa banyak rumah yang telah direnovasi?

In [ ]:
renovated_houses = df[df["yr_renovated"] > 0].shape[0]
print("Jumlah rumah yang telah direnovasi:", renovated_houses)

Jumlah rumah yang telah direnovasi: 914

Apakah ada rumah yang memiliki lebih dari 3 lantai? Jika ada, berapa jumlahnya?

In [ ]:
houses_3_floors = df[df["floors"] > 3].shape[0]
print("Jumlah rumah yang memiliki lebih dari 3 lantai:", houses_3_floors)

Jumlah rumah yang memiliki lebih dari 3 lantai: 8

Berapa rata-rata luas bangunan untuk rumah yang memiliki lebih dari 2 kamar mandi?

In [ ]:
average_sqft_living_2_bathrooms = df[df["bathrooms"] > 2]["sqft_living"].mean()
print("Rata-rata luas bangunan yang memiliki kamar mandi lebih dari 2:", average_sqft_living_2_bathrooms)

Rata-rata luas bangunan yang memiliki kamar mandi lebih dari 2: 2593.407934531222