**Nama : Achmad Rifa'i Ramadhan**

**NIM : 0110223138**

##Soal Genap

In [33]:
# Import library python
import pandas as pd # Untuk manipulasi dan analisis data
import numpy as np # Untuk komputasi numerik
import matplotlib.pyplot as plt # Untuk visualisasi data
import seaborn as sns # Untuk visualisasi data yang lebih estetis

In [34]:
# Menghubungkan colab dengan google drive
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [35]:
# Membaca atau menghubungkan direktori folder dataset yang ada di google drive
path = "/content/gdrive/MyDrive/Datasets/DS/data/"

In [36]:
# Membaca dan menampilkan file
df = pd.read_csv(path + 'dirtydata.csv')
df

,ID,Nama Pegawai,Tempat Lahir,Tanggal Lahir,Jenis Kelamin,Kota Tempat Tinggal,No HP,Jam Kerja,Berat
0,10010104,Nugroho Aldi Saputra,Jakarta,11-06-1982,Pria,Depok,NaN,8,78
1,10010106,Henry Rosyid,Jakarta,13-07-1971,L,Bogor,8.991111e+10,8 AM,52
2,10010107,Misna Oktina,Jakarta,14-04-1971,NaN,NaN,NaN,NaN,74
3,10010119,Reza Maryanto,Sukabumi,31-01-1981,L,Depok,NaN,8:00,62.5
4,10010108,Lukman Hakim,Majalengka,14-07-1988,L,Bogor,8.122222e+10,8,"82,5"
5,10010109,Dwi Primardiansyah,Pekalongan,15-05-1983,L,Bogor,8.883333e+10,9,52
6,10010107,Misna Oktina,Jakarta,14-04-1971,Wanita,Depok,NaN,8:00,97
7,10010111,Bachtiar Hermawan,Jakarta,23-06-1963,Laki-Laki,Jakarta,8.151112e+10,9,890
8,10010112,Luthfiansyah,Majalengka,24-08-1989,L,Depok,8.582223e+10,8,69
9,10010120,Zaki Adityawijaya,Jakarta,31-08-1987,L,Depok,8.125556e+10,9,66
10,10010110,Ahmad Firdaus,Pekalongan,17-08-1980,L,Jakarta,NaN,9,83
11,10010117,Amalia Rizqia,Jakarta,29-07-1983,P,Jakarta,8.883334e+10,8,70
12,10010103,Hilmy Ghozali,Jakarta,06-11-1972,Laki-Laki,Bogor,NaN,9:00,47.5
13,10010113,La Ode Kurniawan,Muna,25-05-1980,L,Bogor,8.123334e+10,8,77
14,10010105,Khakim Adriansyah,Ciamis,12-03-1987,L,Bogor,8.132222e+10,8 WIB,73
15,10010115,April Rusmanto,Cilacap,27-12-1977,L,Jakarta,8.121112e+10,9,56
16,10010101,Indra Hasan,Bogor,01-01-1971,Pria,Bogor,8.121111e+10,9,45
17,10010102,Fachriadi Abidzar,Depok,01-09-1959,L,Jakarta,8.561111e+10,8:00,73
18,10010114,Maisarah,Cilacap,26-09-1965,Perempuan,Depok,8.154445e+10,88,56 kg
19,10010116,Abdul Rozak El Farisi,Jakarta,29-05-1988,L,Depok,8.562223e+10,9,61
20,10010118,Dian Rahmah,Cilacap,30-08-1989,P,Jakarta,8.134445e+10,9,65

In [37]:
# Menampilkan informasi terkait tipe data, jumlah nilai kosong, dan kolom
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   21 non-null     int64
 1   Nama Pegawai         21 non-null     object
 2   Tempat Lahir         21 non-null     object
 3   Tanggal Lahir        21 non-null     object
 4   Jenis Kelamin        20 non-null     object
 5   Kota Tempat Tinggal  20 non-null     object
 6   No HP                15 non-null     float64
 7   Jam Kerja            20 non-null     object
 8   Berat                21 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.6+ KB

In [38]:
# Untuk menampilkan statistik deskriptif dari dataset
df.describe()

                 ID         No HP
count  2.100000e+01  1.500000e+01
mean   1.001011e+07  8.376593e+10
std    5.816643e+00  3.319794e+09
min    1.001010e+07  8.121111e+10
25%    1.001011e+07  8.124445e+10
50%    1.001011e+07  8.151112e+10
75%    1.001012e+07  8.572223e+10
max    1.001012e+07  8.991111e+10

In [39]:
# Mencari missing values pada dataset
df.isnull().sum()

ID                     0
Nama Pegawai           0
Tempat Lahir           0
Tanggal Lahir          0
Jenis Kelamin          1
Kota Tempat Tinggal    1
No HP                  6
Jam Kerja              1
Berat                  0
dtype: int64

In [40]:
# Mengecek apakah ada data duplikat
df.duplicated().sum()

np.int64(0)

Modified

In [41]:
# Mengecek data duplikat pada kolom ID dan Nama Pegawai
df[df.duplicated(['ID', 'Nama Pegawai'], keep=False)]

,ID,Nama Pegawai,Tempat Lahir,Tanggal Lahir,Jenis Kelamin,Kota Tempat Tinggal,No HP,Jam Kerja,Berat
2,10010107,Misna Oktina,Jakarta,14-04-1971,NaN,NaN,NaN,NaN,74
6,10010107,Misna Oktina,Jakarta,14-04-1971,Wanita,Depok,NaN,8:00,97

In [42]:
# Hapus baris dengan index 1
df = df.drop(2, axis=0)

In [43]:
# Mengubah nama kolom
df.rename(columns={'Berat': 'Berat Badan'}, inplace=True)

In [44]:
df

,ID,Nama Pegawai,Tempat Lahir,Tanggal Lahir,Jenis Kelamin,Kota Tempat Tinggal,No HP,Jam Kerja,Berat Badan
0,10010104,Nugroho Aldi Saputra,Jakarta,11-06-1982,Pria,Depok,NaN,8,78
1,10010106,Henry Rosyid,Jakarta,13-07-1971,L,Bogor,8.991111e+10,8 AM,52
3,10010119,Reza Maryanto,Sukabumi,31-01-1981,L,Depok,NaN,8:00,62.5
4,10010108,Lukman Hakim,Majalengka,14-07-1988,L,Bogor,8.122222e+10,8,"82,5"
5,10010109,Dwi Primardiansyah,Pekalongan,15-05-1983,L,Bogor,8.883333e+10,9,52
6,10010107,Misna Oktina,Jakarta,14-04-1971,Wanita,Depok,NaN,8:00,97
7,10010111,Bachtiar Hermawan,Jakarta,23-06-1963,Laki-Laki,Jakarta,8.151112e+10,9,890
8,10010112,Luthfiansyah,Majalengka,24-08-1989,L,Depok,8.582223e+10,8,69
9,10010120,Zaki Adityawijaya,Jakarta,31-08-1987,L,Depok,8.125556e+10,9,66
10,10010110,Ahmad Firdaus,Pekalongan,17-08-1980,L,Jakarta,NaN,9,83
11,10010117,Amalia Rizqia,Jakarta,29-07-1983,P,Jakarta,8.883334e+10,8,70
12,10010103,Hilmy Ghozali,Jakarta,06-11-1972,Laki-Laki,Bogor,NaN,9:00,47.5
13,10010113,La Ode Kurniawan,Muna,25-05-1980,L,Bogor,8.123334e+10,8,77
14,10010105,Khakim Adriansyah,Ciamis,12-03-1987,L,Bogor,8.132222e+10,8 WIB,73
15,10010115,April Rusmanto,Cilacap,27-12-1977,L,Jakarta,8.121112e+10,9,56
16,10010101,Indra Hasan,Bogor,01-01-1971,Pria,Bogor,8.121111e+10,9,45
17,10010102,Fachriadi Abidzar,Depok,01-09-1959,L,Jakarta,8.561111e+10,8:00,73
18,10010114,Maisarah,Cilacap,26-09-1965,Perempuan,Depok,8.154445e+10,88,56 kg
19,10010116,Abdul Rozak El Farisi,Jakarta,29-05-1988,L,Depok,8.562223e+10,9,61
20,10010118,Dian Rahmah,Cilacap,30-08-1989,P,Jakarta,8.134445e+10,9,65

In [45]:
# Mengubah tipe data kolom tanggal lahir
df['Tanggal Lahir'] = pd.to_datetime(df['Tanggal Lahir'], format='%d-%m-%Y', errors='coerce')

In [46]:
# Menormalisasi data jenis kelamin
gender_map = {
    'L': 'Laki-Laki',
    'Pria': 'Laki-Laki',
    'P': 'Perempuan',
    'Wanita': 'Perempuan',
    'W': 'Perempuan'
}
df['Jenis Kelamin'] = df['Jenis Kelamin'].map(gender_map)

In [47]:
# Menormalisasi data jam kerja
def normalize_time(value):
    if pd.isna(value):
        return np.nan

    value_str = str(value).strip().lower()

    # Menghapus kata 'wib' dan lainnya
    value_str = value_str.replace('wib', '').replace('.', ':').strip()

    # Menangani format AM/PM
    if 'am' in value_str or 'pm' in value_str:
        try:
            return pd.to_datetime(value_str, format='%I %p').strftime('%H:%M')
        except:
            return np.nan

    # Menangani jika jamnya hanya dua digit (contoh: 88 -> 08:08)
    if value_str.isdigit():
        if len(value_str) == 4:
            return f"{value_str[:2]}:{value_str[2:]}"
        elif len(value_str) == 2:
            return f"0{value_str[0]}:0{value_str[1]}"
        elif len(value_str) == 1:
            return f"0{value_str}:00"

    # parse sebagai HH:MM
    try:
        return pd.to_datetime(value_str, format='%H:%M').strftime('%H:%M')
    except:
        pass

    # parse sebagai HH
    try:
        return pd.to_datetime(value_str, format='%H').strftime('%H:%M')
    except:
        return np.nan
df['Jam Kerja'] = df['Jam Kerja'].apply(normalize_time)

In [48]:
# Menormalisasi data berat badan
df['Berat Badan'] = (
    df['Berat Badan']
    .astype(str)
    .str.replace(r'[^\d,\.]', '', regex=True)
    .str.replace(',', '.')
)

df['Berat Badan'] = pd.to_numeric(df['Berat Badan'], errors='coerce')

df['Berat Badan'] = df['Berat Badan'].apply(
    lambda x: x/10 if x > 200 else x
)

In [49]:
# Mengubah data No HP menjadi numerik
def normalize_phone(number):
   try:
       clean_number = str(int(float(number)))

       if clean_number.startswith('0'):
           return '+62' + clean_number[1:]
       else:
           return '+62' + clean_number

   except:
       return np.nan

df['No HP'] = df['No HP'].apply(normalize_phone)

In [50]:
# Menampilkan sebelum menambahkan data saya
df

,ID,Nama Pegawai,Tempat Lahir,Tanggal Lahir,Jenis Kelamin,Kota Tempat Tinggal,No HP,Jam Kerja,Berat Badan
0,10010104,Nugroho Aldi Saputra,Jakarta,1982-06-11,Laki-Laki,Depok,NaN,08:00,78.0
1,10010106,Henry Rosyid,Jakarta,1971-07-13,Laki-Laki,Bogor,+6289911114444,08:00,52.0
3,10010119,Reza Maryanto,Sukabumi,1981-01-31,Laki-Laki,Depok,NaN,08:00,62.5
4,10010108,Lukman Hakim,Majalengka,1988-07-14,Laki-Laki,Bogor,+6281222224444,08:00,82.5
5,10010109,Dwi Primardiansyah,Pekalongan,1983-05-15,Laki-Laki,Bogor,+6288833334444,09:00,52.0
6,10010107,Misna Oktina,Jakarta,1971-04-14,Perempuan,Depok,NaN,08:00,97.0
7,10010111,Bachtiar Hermawan,Jakarta,1963-06-23,NaN,Jakarta,+6281511115555,09:00,89.0
8,10010112,Luthfiansyah,Majalengka,1989-08-24,Laki-Laki,Depok,+6285822225555,08:00,69.0
9,10010120,Zaki Adityawijaya,Jakarta,1987-08-31,Laki-Laki,Depok,+6281255556666,09:00,66.0
10,10010110,Ahmad Firdaus,Pekalongan,1980-08-17,Laki-Laki,Jakarta,NaN,09:00,83.0
11,10010117,Amalia Rizqia,Jakarta,1983-07-29,Perempuan,Jakarta,+6288833336666,08:00,70.0
12,10010103,Hilmy Ghozali,Jakarta,1972-11-06,NaN,Bogor,NaN,09:00,47.5
13,10010113,La Ode Kurniawan,Muna,1980-05-25,Laki-Laki,Bogor,+6281233335555,08:00,77.0
14,10010105,Khakim Adriansyah,Ciamis,1987-03-12,Laki-Laki,Bogor,+6281322223333,08:00,73.0
15,10010115,April Rusmanto,Cilacap,1977-12-27,Laki-Laki,Jakarta,+6281211116666,09:00,56.0
16,10010101,Indra Hasan,Bogor,1971-01-01,Laki-Laki,Bogor,+6281211112222,09:00,45.0
17,10010102,Fachriadi Abidzar,Depok,1959-09-01,Laki-Laki,Jakarta,+6285611113333,08:00,73.0
18,10010114,Maisarah,Cilacap,1965-09-26,NaN,Depok,+6281544445555,08:08,56.0
19,10010116,Abdul Rozak El Farisi,Jakarta,1988-05-29,Laki-Laki,Depok,+6285622226666,09:00,61.0
20,10010118,Dian Rahmah,Cilacap,1989-08-30,Perempuan,Jakarta,+6281344446666,09:00,65.0

In [51]:
# Mengecek tipe data dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 20
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   20 non-null     int64
 1   Nama Pegawai         20 non-null     object
 2   Tempat Lahir         20 non-null     object
 3   Tanggal Lahir        20 non-null     datetime64[ns]
 4   Jenis Kelamin        17 non-null     object
 5   Kota Tempat Tinggal  20 non-null     object
 6   No HP                15 non-null     object
 7   Jam Kerja            20 non-null     object
 8   Berat Badan          20 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 2.1+ KB

In [52]:
# Menambahkan data saya
data_saya = {
    'ID': 110223138,
    'Nama Pegawai': 'Achmad Rifa\'i Ramadhan',
    'Tempat Lahir': 'Jakarta',
    'Tanggal Lahir': '2010-05-15',  # Data sudah dalam format string yang valid
    'Jenis Kelamin': 'Laki-Laki',
    'Kota Tempat Tinggal': 'Bandung',
    'No HP': '+6281234567890',
    'Jam Kerja': '09:00',
    'Berat Badan': 65
}

# Cek apakah data sudah ada (agar tidak terus bertambah)
if data_saya['ID'] not in df['ID'].values:
    df = pd.concat([df, pd.DataFrame([data_saya])], ignore_index=True)

# Konversi ke datetime
df['Tanggal Lahir'] = pd.to_datetime(df['Tanggal Lahir'], errors='coerce')

# Menormalisasi
df['Tanggal Lahir'] = df['Tanggal Lahir'].dt.normalize()

In [53]:
# Menampilkan hasil akhir
df

,ID,Nama Pegawai,Tempat Lahir,Tanggal Lahir,Jenis Kelamin,Kota Tempat Tinggal,No HP,Jam Kerja,Berat Badan
0,10010104,Nugroho Aldi Saputra,Jakarta,1982-06-11,Laki-Laki,Depok,NaN,08:00,78.0
1,10010106,Henry Rosyid,Jakarta,1971-07-13,Laki-Laki,Bogor,+6289911114444,08:00,52.0
2,10010119,Reza Maryanto,Sukabumi,1981-01-31,Laki-Laki,Depok,NaN,08:00,62.5
3,10010108,Lukman Hakim,Majalengka,1988-07-14,Laki-Laki,Bogor,+6281222224444,08:00,82.5
4,10010109,Dwi Primardiansyah,Pekalongan,1983-05-15,Laki-Laki,Bogor,+6288833334444,09:00,52.0
5,10010107,Misna Oktina,Jakarta,1971-04-14,Perempuan,Depok,NaN,08:00,97.0
6,10010111,Bachtiar Hermawan,Jakarta,1963-06-23,NaN,Jakarta,+6281511115555,09:00,89.0
7,10010112,Luthfiansyah,Majalengka,1989-08-24,Laki-Laki,Depok,+6285822225555,08:00,69.0
8,10010120,Zaki Adityawijaya,Jakarta,1987-08-31,Laki-Laki,Depok,+6281255556666,09:00,66.0
9,10010110,Ahmad Firdaus,Pekalongan,1980-08-17,Laki-Laki,Jakarta,NaN,09:00,83.0
10,10010117,Amalia Rizqia,Jakarta,1983-07-29,Perempuan,Jakarta,+6288833336666,08:00,70.0
11,10010103,Hilmy Ghozali,Jakarta,1972-11-06,NaN,Bogor,NaN,09:00,47.5
12,10010113,La Ode Kurniawan,Muna,1980-05-25,Laki-Laki,Bogor,+6281233335555,08:00,77.0
13,10010105,Khakim Adriansyah,Ciamis,1987-03-12,Laki-Laki,Bogor,+6281322223333,08:00,73.0
14,10010115,April Rusmanto,Cilacap,1977-12-27,Laki-Laki,Jakarta,+6281211116666,09:00,56.0
15,10010101,Indra Hasan,Bogor,1971-01-01,Laki-Laki,Bogor,+6281211112222,09:00,45.0
16,10010102,Fachriadi Abidzar,Depok,1959-09-01,Laki-Laki,Jakarta,+6285611113333,08:00,73.0
17,10010114,Maisarah,Cilacap,1965-09-26,NaN,Depok,+6281544445555,08:08,56.0
18,10010116,Abdul Rozak El Farisi,Jakarta,1988-05-29,Laki-Laki,Depok,+6285622226666,09:00,61.0
19,10010118,Dian Rahmah,Cilacap,1989-08-30,Perempuan,Jakarta,+6281344446666,09:00,65.0
20,110223138,Achmad Rifa'i Ramadhan,Jakarta,2010-05-15,Laki-Laki,Bandung,+6281234567890,09:00,65.0

In [54]:
# Mengecek kembali tipe datanya
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   21 non-null     int64
 1   Nama Pegawai         21 non-null     object
 2   Tempat Lahir         21 non-null     object
 3   Tanggal Lahir        21 non-null     datetime64[ns]
 4   Jenis Kelamin        18 non-null     object
 5   Kota Tempat Tinggal  21 non-null     object
 6   No HP                16 non-null     object
 7   Jam Kerja            21 non-null     object
 8   Berat Badan          21 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 1.6+ KB

In [55]:
# Ekspor hasil akhir ke file CSV
df.to_csv('dirtydata_clean.csv', index=False)